.poke-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
}

.pokedex-title {
  font-family: "Trebuchet MS", "Arial Black", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  color: #ffcb05;
  text-shadow:
    3px 3px 0 #2a75bb,
    -1px -1px 0 #2a75bb,
    1px -1px 0 #2a75bb,
    -1px 1px 0 #2a75bb,
    1px 1px 0 #2a75bb;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Recherche */
.search-input {
  padding: 10px;
  width: 300px;
  margin: 0 auto 20px auto;
  display: block;
  border-radius: 8px;
  border: 2px solid #2a75bb;
}

/* Boutons action */
.action-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
}

.pagination button {
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* Responsive */
@media (max-width: 1200px) {
  .poke-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .poke-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .poke-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.pagenombre {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}